.social-media {
    // background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 3rem;
    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      li {
        list-style: none;
        a {
          text-decoration: none;
          display: block;
          animation: slideLeft 1s ease-in-out;
          .icons {
            border-radius: 30%;
            padding: 0.3rem;
            color: var(--slate);
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            transition: all 0.5s ease;
            &:hover {
              transform: translateY(-5px);
              color: var(--green);
              box-shadow: 0px 2px 20px 1px var(--green);
            }
          }
        }
      }
    }
    .line{

        width: .1rem;
        height: 6rem;
        background-color: white;
        margin-top: 3rem;

    }
  }