
// Navbar
.dark-navbar {
    background-color: var(--black);
    opacity: .9;
    // position: relative;
  }
  .active{
    // font-size: 1rem !important;
    // padding: .3rem !important;
    color: var(--green) !important;
    border-top: 1px solid var(--green);
  }
  
.hide{
  // background-color: red;
  transform: translateY(-100px);
}

.header-container {
    
    // border: 1px solid red;
    height: 5rem;
    width: 100%;
    position: fixed;
    // transform: translateY(0);
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    transition: all ease .5s;
    align-items: center;
    // backdrop-filter: blur(5rem);
      
     &.show {
      background-color: var(--black3);
      height: 4rem;
      box-shadow: 0px 0px 25px 0px var(--green);
      }
      &.hide {
      transform: translateY(-60px);
      
       }

    
    .logo {
      text-decoration: none;
      h1 {
        color: whitesmoke;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        span {
          color: var(--orange);
        }
      }
    }
    .navlinks {
      // background-color: red;
      width: 80%;
      
      ul {
        
        li {
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 2rem;
          cursor: pointer;
          list-style: none;
          
          // gap: 20px;
  
          a {
            font-size: 0.7rem;
            text-decoration: none;
            color: var(--slate);
            // background-color: red;
            display: flex;
            padding: 0.2rem;
            letter-spacing: 0.1rem;
            font-weight: bolder;
            animation: slideTop 1.5s ease forwards;
            // animation-delay: calc(.2s * var(--i));
            span{
              color: var(--green);
              margin-right: .2rem;
            }
            &:hover {
              border-top: 1px solid var(--green);
            }
          }
        }
        .blog {
          font-size: 0.9rem;
          font-weight: 600;
          text-decoration: none;
          // color: rgb(228, 20, 20);
          padding: 0.5rem 1rem;
          border-radius: .5rem;
          border: 1px solid var(--green);
    
          &:hover {
            background-color: var(--green);
            border-bottom: none !important;
            color: whitesmoke;
          
        }
      }
      }
    }
    
  }
  