* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

.dark-navbar {
  background-color: rgb(41, 39, 39);
}

.active {
  font-size: 1.2rem !important;
  padding: 0.3rem !important;
  border-bottom: 1px solid orangered;
}

.navbar-container {
  background-color: rgb(47, 43, 43);
  height: 2.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 3rem 1fr 4fr 1fr 3rem;
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar-container .logo {
  grid-column: 2/3;
  place-self: center;
  text-decoration: none;
}
.navbar-container .logo h1 {
  color: whitesmoke;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}
.navbar-container .logo h1 span {
  color: orangered;
}
.navbar-container .navlinks {
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: right;
  align-self: center;
}
.navbar-container .navlinks ul li {
  cursor: pointer;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}
.navbar-container .navlinks ul li a {
  font-size: 0.8rem;
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  padding: 0.1rem;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  animation: slideTop 1.5s ease forwards;
}
.navbar-container .navlinks ul li a .icons {
  align-self: center;
  margin-right: 0.3rem;
  height: 0.8rem;
  width: 0.8rem;
}
.navbar-container .navlinks ul li a:hover {
  border-bottom: 1px solid orangered;
}
.navbar-container .blog {
  grid-column: 4/5;
  align-self: center;
  justify-self: end;
}
.navbar-container .blog a {
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  color: rgb(228, 20, 20);
  padding: 0.2rem 1rem;
  border: 1px solid red;
}
.navbar-container .blog a:hover {
  background-color: rgb(214, 112, 75);
  color: whitesmoke;
}

.home-container {
  position: relative;
  height: 80vh;
  background: linear-gradient(to right, #141e30, #243b55);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container:after {
  content: "FAIZ";
  text-align: center;
  opacity: 0.2;
  letter-spacing: 3rem;
  position: absolute;
  font-size: 10rem;
  transform: skew(35deg, -30deg);
}
.home-container .title {
  z-index: 1;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  gap: 2rem;
  animation: slideLeft 1s ease-in-out;
  color: whitesmoke;
}
.home-container .title h4 {
  font-size: 3rem;
}
.home-container .title h5 {
  font-size: 2rem;
  color: orangered;
  animation: slideRight 1s ease-in-out;
}
.home-container .title .type-animation {
  font-size: 2.5rem;
  color: rgb(245, 246, 250);
  display: inline;
  letter-spacing: 0.3rem;
}
.home-container .image {
  z-index: 1;
  height: 40%;
  width: 30%;
  text-align: center;
}
.home-container .image img {
  width: 50%;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px rgb(10, 71, 226);
  animation: 3s continue infinite;
}

.about-container {
  height: auto;
  width: 100%;
  background-color: whitesmoke;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10rem 5fr 10rem;
  gap: 0.1rem 1rem;
}
.about-container .title {
  grid-column: 1/5;
  padding: 0rem 1rem;
  place-self: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-container .title h1 {
  font-size: 3rem;
  opacity: 0.1;
  letter-spacing: 2rem;
  text-transform: uppercase;
}
.about-container .title h2 {
  position: absolute;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.4rem;
}
.about-container .title h2 span {
  margin: 0.3rem;
  color: #dc2f08;
}
.about-container .detail {
  grid-column: 2/3;
  place-self: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.about-container .detail h3 {
  font-size: 2rem;
  margin: 0.3rem 0;
  align-self: center;
}
.about-container .detail h4 {
  font-size: 0.9rem;
  align-self: center;
  color: rgb(60, 58, 55);
}
.about-container .detail p {
  width: 80%;
  font-size: 0.9rem;
  word-spacing: 0.2rem;
  color: rgb(60, 58, 55);
  margin: 0.8rem 0;
  align-self: flex-start;
}
.about-container .detail a {
  text-decoration: none;
  font-size: 1rem;
  background-color: #dc2f08;
  color: white;
  align-self: flex-start;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: all 0.5s ease;
}
.about-container .detail a:hover {
  background-color: #ec4f2c;
  transform: translateY(-5px);
  box-shadow: 0px 2px 20px 1px #d17864;
}
.about-container .image {
  grid-column: 3/4;
  place-self: center;
}
.about-container .image img {
  width: 100%;
  height: 70%;
  animation: continue 2s infinite;
}
.about-container .social-media {
  grid-row: 3/4;
  grid-column: 2/4;
  place-self: center;
}
.about-container .social-media ul {
  display: flex;
}
.about-container .social-media ul li {
  list-style: none;
}
.about-container .social-media ul li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
}
.about-container .social-media ul li a .icons {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30%;
  padding: 0.3rem;
  color: rgb(1, 1, 1);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.about-container .social-media ul li a .icons:hover {
  transform: translateY(-5px);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0px 2px 20px 1px rgb(46, 44, 44);
}

.project-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 5rem 3rem 2.7rem 1fr 5rem;
  gap: 0.5rem;
}
.project-container .title {
  grid-row: 2/3;
  grid-column: 2/3;
  place-self: center;
}
.project-container .title h1 {
  position: relative;
  align-self: center;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-container .title h1 span {
  margin: 0.3rem;
  color: #dc2f08;
}
.project-container .title h1::before {
  content: "Projects";
  position: absolute;
  font-size: 3rem;
  opacity: 0.1;
  letter-spacing: 2.5rem;
  text-transform: uppercase;
}
.project-container .latest {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f2927;
  text-transform: uppercase;
}
.project-container .latest h6 {
  font-size: 1.3rem;
  color: whitesmoke;
  background-color: rgb(0, 204, 255);
  padding: 0.6rem 1rem;
  letter-spacing: 0.1rem;
  border-right: 2px solid rgb(255, 255, 255);
}
.project-container .latest a {
  text-decoration: none;
  letter-spacing: 0.1rem;
  border: none;
  padding: 0.4rem 1rem;
  margin: 0.4rem;
  border-radius: 0.2rem;
  background-color: #dc2f08;
  color: whitesmoke;
  font-weight: 600;
  cursor: pointer;
}
.project-container .latest a:hover {
  background-color: #ec4f2c;
  transform: translateY(-1px);
}
.project-container .projects {
  grid-column: 2/3;
  grid-row: 4/5;
}
.project-container .projects .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0 0 0;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid rgb(54, 53, 53);
}
.project-container .projects .item .image {
  width: 50%;
  height: 300px;
}
.project-container .projects .item .image img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 1s;
}
.project-container .projects .item .image img:hover {
  transform: translateY(-0.5rem);
}
.project-container .projects .item .desc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  width: 35%;
  height: 300px;
  text-align: center;
}
.project-container .projects .item .desc h6 {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}
.project-container .projects .item .desc p {
  font-size: 0.9rem;
  color: #513f3a;
}
.project-container .projects .item .desc .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.project-container .projects .item .desc .links .link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  gap: 0.2rem;
  cursor: pointer;
}
.project-container .item:nth-child(even) {
  flex-direction: row-reverse;
}
.project-container .item:last-child {
  border-bottom: none;
}

.skills-container {
  height: auto;
  width: 100%;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  grid-template-rows: 3rem 1fr 4fr 7rem;
}
.skills-container .title {
  grid-column: 2/3;
  grid-row: 2/3;
  place-self: center;
}
.skills-container .title h1 {
  position: relative;
  align-self: center;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-container .title h1 span {
  margin: 0.3rem;
  color: #dc2f08;
}
.skills-container .title h1::before {
  content: "Skills";
  position: absolute;
  font-size: 3rem;
  opacity: 0.1;
  letter-spacing: 2.5rem;
  text-transform: uppercase;
}
.skills-container .skills {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skills-container .skills .container {
  width: 20%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  animation: 2s slideLeft ease;
}
.skills-container .skills .container .circular-progress {
  position: relative;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.skills-container .skills .container .circular-progress::before {
  content: "";
  position: absolute;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: white;
}
.skills-container .skills .container .circular-progress .progress-value {
  position: relative;
  font-size: 30px;
  font-weight: 600;
  color: #dc2f08;
}
.skills-container .skills .container .text {
  font-size: 20px;
  font-weight: 500;
  color: #513f3a;
  margin: 1rem 0 0 0;
}

.quotes-section {
  width: 100%;
  height: auto;
  padding: 4rem 10rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 0.5rem;
}
.quotes-section .title {
  place-self: center;
  grid-column: 2/3;
  animation: pop 1.5s ease-in-out;
}
.quotes-section .title h1 {
  color: #dc2f08;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dc2f08;
}
.quotes-section .title h1::before {
  content: "Quotes";
  position: absolute;
  font-size: 3rem;
  opacity: 0.1;
  letter-spacing: 2.5rem;
  text-transform: uppercase;
}
.quotes-section .box1 {
  grid-column: 1/2;
  grid-row: 1/2;
  border-top: 10rem solid #dc2f08;
  border-right: 30rem solid transparent;
  animation: slideLeft 1s ease;
}
.quotes-section .box2 {
  grid-column: 3/4;
  grid-row: 1/2;
  border-top: 10rem solid #dc2f08;
  border-left: 30rem solid transparent;
  animation: slideRight 1s ease;
}
.quotes-section .box3 {
  grid-column: 1/2;
  grid-row: 3/4;
  border-bottom: 10rem solid #dc2f08;
  border-right: 30rem solid transparent;
  animation: slideLeft 1s ease;
}
.quotes-section .box4 {
  border-bottom: 10rem solid #dc2f08;
  border-left: 30rem solid transparent;
  grid-column: 3/4;
  grid-row: 3/4;
  animation: slideRight 1s ease;
}
.quotes-section .quote {
  grid-column: 1/4;
  grid-row: 2/3;
  place-self: center;
  text-align: center;
}
.quotes-section .quote h1 {
  font-size: 1.8rem;
  padding: 1rem;
  animation: pop 1.5s ease-in-out;
}
.quotes-section .quote button {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: none;
  padding: 0.4rem 1rem;
  margin: 0.4rem;
  border-radius: 0.2rem;
  background-color: #dc2f08;
  color: whitesmoke;
  font-weight: 600;
  cursor: pointer;
}
.quotes-section .quote button:hover {
  background-color: #ec4f2c;
  transform: translateY(-1px);
}

.footer-container {
  background-color: #2d2b2a;
  height: auto;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  grid-template-rows: 2fr 1fr;
}
.footer-container .top-footer {
  grid-column: 2/3;
  place-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container .top-footer .line {
  width: 10rem;
  height: 0.1rem;
  background-color: rgb(249, 247, 247);
}
.footer-container .top-footer h1 {
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  margin: 0.5rem 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}
.footer-container .top-footer h1::before {
  text-transform: uppercase;
  opacity: 0.2;
  font-size: 3.5rem;
  position: absolute;
  content: "FAiz";
  letter-spacing: 1rem;
  color: white;
}
.footer-container .bottom-footer {
  grid-column: 2/3;
  place-self: center;
}
.footer-container .bottom-footer h1 {
  align-self: center;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: white;
}
.footer-container .bottom-footer h1 span {
  font-size: 1.5rem;
  margin: 0.3rem;
  color: #dc2f08;
}

.back-to-top {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  color: #dc2f08;
  font-size: 2rem;
  cursor: pointer;
  transition: 1s all ease;
  animation: top-button 0.4s ease-in-out;
}
.back-to-top:hover {
  transform: translateY(-0.3rem);
}

@keyframes slideTop {
  from {
    opacity: 0.1;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideLeft {
  from {
    opacity: 0.1;
    transform: translateX(-500px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideRight {
  from {
    opacity: 0.1;
    transform: translateX(800px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes top-button {
  from {
    opacity: 0.5;
    right: 0;
    transform: rotate(360deg);
    /* transform: ; */
  }
  to {
    opacity: 1;
    right: 1.5rem;
    transform: rotate(0deg);
  }
}
@keyframes continue {
  0% {
    transform: translateY(-0.8rem);
    box-shadow: 1px 1px 30px 0px rgb(73, 73, 81);
  }
  50% {
    transform: translate(0);
    box-shadow: 1px 1px 20px 10px rgb(99, 99, 203);
  }
  100% {
    transform: translateY(-0.8rem);
    box-shadow: 1px 1px 30px 0px rgb(73, 73, 81);
  }
}
@keyframes pop {
  from {
    opacity: 0.3;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */