* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}










// @keyframes prog {
//     0%{
//         // opacity: .1;
//         // transform: scale(1.4)
//         background: conic-gradient(#dc2f08 0deg,rgb(224, 202, 202) 0deg);

//     }
//     25%{
//         background: conic-gradient(#dc2f08 100deg,rgb(224, 202, 202) 0deg);

//     }
//     50%{
//         background: conic-gradient(#dc2f08 180deg,rgb(224, 202, 202) 0deg);

//     }
//     100%{

//     }

// }


// Animations

@keyframes slideTop {
  from {
    opacity: 0.1;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0.1;
    transform: translateX(-500px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideRight {
  from {
    opacity: 0.1;
    transform: translateX(800px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes top-button {
  from {
    opacity: 0.5;
    right: 0;
    transform: rotate(360deg);
    /* transform: ; */
  }
  to {
    opacity: 1;
    right: 1.5rem;
    transform: rotate(0deg);
  }
}

@keyframes continue {
  0% {
    transform: translateY(-0.8rem);
    box-shadow: 1px 1px 30px 0px rgb(73, 73, 81);
  }
  50% {
    transform: translate(0);
    box-shadow: 1px 1px 20px 10px rgb(99, 99, 203);
  }
  100% {
    transform: translateY(-0.8rem);
    box-shadow: 1px 1px 30px 0px rgb(73, 73, 81);
  }
}
@keyframes pop {
    from{
        opacity: .3;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
    
  }