// About ME

.about-container {

  height: 100vh;
  width: 100%;
  padding: 5rem;
  color: var(--lightest-slate);
  
  .title {
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 5rem 0;
    h1 {
      font-size: 3rem;
      opacity: 0.1;
      letter-spacing: 2rem;
      text-transform: uppercase;
    }
    h2 {
      position: absolute;
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: 0.4rem;
      span {
        margin: 0.3rem;
        color: #dc2f08;
      }
    }
  }

  .desc
  {
    // background-color: red;
   
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    .detail {
      // background-color: blueviolet;
      width: 30%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      // background-color: red;
  
      h3 {
        font-size: 2rem;
        margin: 0.3rem 0;
        align-self: center;
        transition: all 1s ease-in;
        // background-color: red;
        &:hover {
          overflow: hidden;
          transform: rotateZ(180deg);
          // content: "Farooq";
            // transform: translateY(-20px);
          }
          span{
            display: none;
          }
      }
      h4 {
        font-size: 0.9rem;
        align-self: center;
       
      }
      p {
        // width: 80%;
        font-size: 0.9rem;
        word-spacing: 0.2rem;
        margin: 0.8rem 0;
        align-self: flex-start;
      }
      a {
        text-decoration: none;
        // display: block;
        font-size: 1rem;
        background-color: #dc2f08;
        color: white;
        align-self: flex-start;
        margin: 1rem 0;
        padding: 0.5rem 1rem;
        border-radius: 0.2rem;
        border: none;
        cursor: pointer;
        letter-spacing: 0.1rem;
        font-weight: 600;
        transition: all 0.5s ease;
  
        &:hover {
          background-color: #ec4f2c;
          transform: translateY(-5px);
          box-shadow: 0px 2px 20px 1px var(--green);
        }
      }
    }
    .image {
      width: 20%;
      height: 60%;
      // background-color: rgb(123, 108, 108);
      aspect-ratio: 1/1;
      display: flex;
      align-items: flex-start;
      border-radius: .5rem;
      // transform: translate(0);
      border: 2px solid var(--green);
      transition: 1s;
      // justify-content: center;
      img {
        width: 100%;
        height: 100%;
      border-radius: .5rem;
      // filter: blur(0px);
      transition: all 1s ease;
      transform: translate(-.8rem,-.8rem);
      // animation: continue 2s infinite;
      &:hover {
        cursor: pointer;
        transform: rotateY(180deg);
         
        }
      }
      
    }
  
  }

 
  
}
